<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/admin/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React + TS</title>
    <script type="module" is:inline src="/admin/assets/index.js"></script>
    <link rel="stylesheet" crossorigin href="/admin/assets/index.css" />
    <link rel="manifest" href="/admin/manifest.webmanifest" />
    <script
      is:inline
      id="vite-plugin-pwa:register-sw"
      src="/admin/registerSW.js"
    >
    </script>
  </head>

  <body>
    <div id="routerroot"></div>
  </body>
</html>
